body {
    background: #000;
    font-family: "Courier New";
    color: #00ff95;
    text-shadow: 0 0 8px #00ff95;
    user-select: none;
}

.scanlines::before {
    content:"";
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(transparent 0px, rgba(0,255,149,0.05) 2px, transparent 4px);
    pointer-events: none;
    opacity: 0.2;
}

.header {
    text-align: center;
    margin-top: 20px;
}

.glitch {
    font-size: 3rem;
    animation: glitch 1.5s infinite alternate;
}

@keyframes glitch {
    0% {text-shadow: 2px 2px #0f0, -2px -2px #f00;}
    100% {text-shadow: -2px 2px #0ff, 2px -2px #ff0;}
}

.terminal-box {
    width: 90%;
    margin: auto;
    border: 2px solid #00ff95;
    padding: 20px;
    backdrop-filter: blur(5px);
}

.menu {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.tab-btn {
    background: transparent;
    border: 1px solid #00ff95;
    padding: 8px 12px;
    cursor: pointer;
    transition: 0.2s;
}

.tab-btn:hover, .tab-btn.active {
    background: #00ff95;
    color: #000;
}

.section {display:none;}
.section.active {display:block;}

.profile-card {
    border: 1px solid #00ff95;
    padding: 12px;
    margin: 10px 0;
}

.warn {color: red; text-shadow: 0 0 10px red;}
.flag {color: #ff0044; font-weight: bold;}
